<div class="fish-table-container">
  <h2>📊 Capturas de Peces</h2>

  <div class="filters-container">
  <div class="filters">

    <!-- Tipo de pez -->
    <div class="filter-item">
      <i class="pi pi-list"></i>
      <p-autoComplete
        [(ngModel)]="fishTypeSearch"
        [suggestions]="fishTypeSuggestions"
        (completeMethod)="filterFishType($event)"
        placeholder="Tipo de pez​"
        [dropdown]="true"
        [forceSelection]="false"
        [minLength]="0"
        [autoHighlight]="true"
        [panelStyle]="{
          'margin-top' : '8px',
          'background-color': 'rgba(204,229,255,0.95)',
          'border': '1px solid #ccc',
          'border-radius': '8px',
          'box-shadow': '0 4px 8px rgba(0,0,0,0.1)',
          'max-height': '250px',
          'overflow-y': 'auto'
        }">

        <ng-template let-fish #item>
          <div class="autocomplete-item-minimal">
            {{ fish }}
          </div>
        </ng-template>

      </p-autoComplete>
    </div>

    <!-- Ubicación -->
    <div class="filter-item">
      <i class="pi pi-map-marker"></i>
      <p-autoComplete
        [(ngModel)]="locationSearch"
        [suggestions]="locationSuggestions"
        (completeMethod)="filterLocation($event)"
        placeholder="Ubicación"
        [dropdown]="true"
        [forceSelection]="false"
        [minLength]="0"
        [autoHighlight]="true"
        [panelStyle]="{
          'margin-top' : '8px',
          'background-color': 'rgba(204,229,255,0.95)',
          'border': '1px solid #ccc',
          'border-radius': '8px',
          'box-shadow': '0 4px 8px rgba(0,0,0,0.1)',
          'max-height': '250px',
          'overflow-y': 'auto'
        }">

        <ng-template let-location #item>
          <div class="autocomplete-item-minimal">
            {{ location }}
          </div>
        </ng-template>

      </p-autoComplete>
    </div>

    <!-- Usuario -->
    <div class="filter-item">
      <i class="pi pi-user"></i>
      <p-autoComplete
        [(ngModel)]="userSearch"
        [suggestions]="userSuggestions"
        (completeMethod)="filterUser($event)"
        placeholder="Usuario"
        [dropdown]="true"
        [forceSelection]="false"
        [minLength]="0"
        [autoHighlight]="true"
        [panelStyle]="{
          'margin-top' : '8px',
          'background-color': 'rgba(204,229,255,0.95)',
          'border': '1px solid #ccc',
          'border-radius': '8px',
          'box-shadow': '0 4px 8px rgba(0,0,0,0.1)',
          'max-height': '250px',
          'overflow-y': 'auto'
        }">

        <ng-template let-user #item>
          <div class="autocomplete-item-minimal">
            {{ user }}
          </div>
        </ng-template>

      </p-autoComplete>
    </div>

    <p-button icon="pi pi-filter-slash"
            [raised]="true"
            [style]="{
              'margin-top' : '5px',
              'margin-left' : '4px',
              'background-color' : '#34d399'
            }"
            (click)="clearFilters()"/>
  </div>
</div>

  <p-table [value]="captures | userFilter:users:userSearch"

           [rows]="10"
           [rowsPerPageOptions]="[5,10,20]"
           scrollable="true"
           scrollHeight="400px"
           styleClass="fish-table">
    <ng-template #header>
      <tr>
        <th>Fecha de captura</th>
        <th>Tipo de pez</th>
        <th>Ubicación</th>
        <th>Peso (kg)</th>
        <th>Usuario</th>
      </tr>
    </ng-template>

    <ng-template #body let-capture>
  @if (capture.fishType.toLowerCase().includes(fishTypeSearch.toLowerCase()) &&
       (!locationSearch || (capture.location || '').toLowerCase().includes(locationSearch.toLowerCase()))) {
    <tr>
      <td>{{ capture.captureData | date:'dd/MM/yyyy' }}</td>
      <td>{{ capture.fishType }}</td>
      <td>{{ capture.location || '-' }}</td>
      <td>{{ capture.weight }}</td>
      <td>{{ getUserName(capture.userId) }}</td>
    </tr>
  }
</ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="no-data">No hay capturas registradas 😢</td>
      </tr>
    </ng-template>
  </p-table>
</div>
